# cuixingxing 定义的.gitgnore文件,参考：https://www.zhihu.com/question/26247816 ，以后项目依据此文件适当修改，2021.9.26
# 文件夹前面必须要用"/"才奏效，2022.3.8 
#忽略所有文件和目录
/* 
!.gitignore
!*.json
!*.md

# license
!LICENSE

# python
!*.py
!*.ipynb

# matlab
!*.m
!*.mlx
!*.slx
!*.p

# c/c++
!*.cpp
!*.hpp
!*.h
!*.c

# cmake
!CMakeLists.txt
!Makefile

# 以下根据自己项目工程修改
!/data/
!/data/**/

!*.prj
!*.txt
!*.cgt
!*.csv
!*.xlsx